.card {
  &__horisontal {
    padding-top: 76px;
  }
  &__vertical {
    padding-top: 350px;
  }

  // .card__container

  &__container {
    @media (max-width: $tablet) {
      margin-top: -20px;
    }
    @media (max-width: $mobile) {
      padding: 0 73px;
      margin-top: 20px;
    }
    @media (max-width: $mobileSmall) {
      padding: 0 12px;
      margin-top: -33px;
    }
  }

  // .card__body

  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    @media (max-width: $tablet) {
      grid-template-columns: 5fr 4fr;
    }
    @media (max-width: $mobile) {
      display: block;
    }
  }

  // .card__image

  &__main-image {
    margin-bottom: 16px;
    padding-top: 250px;
    cursor: pointer;
    img {
      object-fit: contain;
    }
    @media (max-width: $tablet) {
      margin-bottom: -4px;
    }
    @media (max-width: $mobile) {
      margin-bottom: 28px;
    }
    @media (max-width: $mobileSmall) {
      margin-bottom: -48px;
    }
  }

  &__ribbon {
    margin-bottom: 32px;
    cursor: pointer;
    @media (max-width: $mobile) {
      display: flex;
      gap: 33px;
    }
    @media (max-width: $mobileSmall) {
      flex-direction: column;
      gap: 21px;
    }
  }

  &__description {
    margin-bottom: 8px;
  }

  &__small-image {
    height: 81px;
    overflow: hidden;
    @media (max-width: $mobile) {
      height: 349px;
    }
    @media (max-width: $mobileSmall) {
      height: 81px;
    }

    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      @media (max-width: $tablet) {
        object-position: -15px;
      }
      @media (max-width: $mobile) {
        object-position: 0px;
      }
      @media (max-width: $mobileSmall) {
        object-position: -15px;
      }
    }
  }

  &__vertic-image {
    display: none;
    @media (max-width: $mobile) {
      display: block;
    }
    @media (max-width: $mobileSmall) {
      display: none;
    }
  }

  &__horizontal-image {
    @media (max-width: $mobile) {
      display: none;
    }
    @media (max-width: $mobileSmall) {
      display: block;
    }
  }

  // .card__title

  &__title {
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 8px;
  }

  // .card__text

  &__text {
    line-height: 25px;
    margin-bottom: 107px;
    font-size: 14px;
    p {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
      @media (max-width: $mobile) {
        &:not(:last-child) {
          margin-bottom: 7px;
        }
      }
      @media (max-width: $mobileSmall) {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
    @media (max-width: $tablet) {
      margin-bottom: 82px;
    }
    @media (max-width: $mobile) {
      max-width: 492px;
      margin-bottom: 31px;
    }
    @media (max-width: $mobileSmall) {
      margin-bottom: 0;
    }
  }

  // .card__conturs

  &__conturs {
    padding-top: 113px;
    @media (max-width: $mobile) {
      max-width: 513px;
    }
    img {
      object-fit: contain;
      object-position: 0;
    }
  }

  // .card__feature-sliders

  /* &__wripper-sliders {
    width: 100%;
  } */

  &__slider-thumbs {
    background-color: #f6f6f6;
    padding: 10px 10px;

    @media (max-width: $mobileSmall) {
      width: 100%;
      padding: 6px 10px;
    }
  }

  // .card__vertical

  &__vertical {
    width: 187px;
    display: none;
    @media (max-width: $mobile) {
      display: block;
    }
    @media (max-width: $mobileSmall) {
      display: none;
    }
  }

  //.card__horisontal

  &__horisontal {
    display: block;
    @media (max-width: $mobile) {
      display: none;
    }
    @media (max-width: $mobileSmall) {
      display: block;
    }
  }
}

.thumbs-images {
  &__small-image {
    padding-top: 110px;
    cursor: pointer;
    @media (max-width: $mobile) {
      padding-top: 100px;
    }
    @media (max-width: $mobileSmall) {
      padding-top: 67px;
    }
  }
}

.feature-product {
  padding-top: 17px;
  @media (max-width: $tablet) {
    padding-top: 39px;
    padding-left: 6px;
  }
  @media (max-width: $mobile) {
    padding-top: 31px;
  }
  @media (max-width: $mobileSmall) {
    padding-top: 0;
    padding-left: 0px;
  }
  //.feature-product__action

  &__action {
    margin-bottom: 110px;
    @media (max-width: $tablet) {
      margin-bottom: 67px;
    }
    @media (max-width: $mobile) {
      margin-bottom: 0px;
      padding-top: 54px;
    }
    @media (max-width: $mobileSmall) {
      padding-top: 0;
    }
  }

  // .feature-product__rating

  &__rating {
    span {
      color: $mainOrange;
      margin-left: 1px;
    }
    margin-bottom: 4px;
    @media (max-width: $mobileSmall) {
      margin-bottom: 0;
    }
  }

  // .feature-product__title

  &__title {
    font-size: 24px;
    line-height: 32px;
    color: #333;
    margin-bottom: 3px;
    @media (max-width: $mobileSmall) {
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  // .feature-product__desc

  &__desc {
    font-size: 14px;
    line-height: 14px;
    color: #999;
    margin-bottom: 21px;
    @media (max-width: $mobileSmall) {
      max-width: 207px;
      margin-bottom: 10px;
    }
  }

  // .feature-product__price

  &__price {
    font-size: 36px;
    line-height: 47px;
    color: #333;
    margin-bottom: 21px;
    @media (max-width: $mobileSmall) {
      font-size: 24px;
      margin-bottom: 7px;
    }
  }
  // .feature-product__buttons

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }

  // .feature-product__buy-button

  &__buy-button {
    padding: 17px 30px;
    margin-bottom: 12px;
    @media (max-width: $mobileSmall) {
      padding: 16px 30px;
    }
  }

  // .feature-product__add-button

  &__add-button {
    color: #a65cf0;
    line-height: 21px;
  }
}

// .table-product

.table-product {
  display: grid;
  grid-template-columns: 1fr 295px;
  @media (max-width: $tablet) {
    grid-template-columns: 1fr 217px;
  }
  @media (max-width: $mobileSmall) {
    grid-template-columns: 1fr;
    row-gap: 2.1px;
  }

  // .table-product__lable

  &__lable {
    font-size: 14px;
    padding-top: 10px;
    color: #999;
    @media (max-width: $mobileSmall) {
      font-size: 10px;
      line-height: 13px;
      padding-top: 7px;
    }
    border-bottom: 1px dotted #999;
    span {
      background-color: white;
    }
  }

  // .table-product__value

  &__value {
    padding-top: 10px;
    font-size: 14px;
    color: #333;
    @media (max-width: $mobileSmall) {
      padding-top: 2px;
    }
  }
}

//=========================================================================

.similar-product {
  // .similar-product__container

  &__container {
    padding: 82px 34px 70px 34px;
    position: relative;
    @media (max-width: $tablet) {
      padding: 71px 34px 70px 34px;
    }
    @media (max-width: $mobile) {
      padding: 40px 73px 70px 73px;
    }
    @media (max-width: $mobileSmall) {
      padding: 74px 12px 70px 12px;
    }
  }

  // .similar-product__title

  &__title {
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.3px;
    margin-bottom: 24px;
  }
}
.similar-product {
  @media (max-width: $mobileSmall) {
    &__slider {
      height: 326px;
      display: flex;
      flex-direction: column;
    }
  }

  // .similar-product__button-wrap

  &__button-wrap {
    position: absolute;
    top: 79px;
    right: 33px;
    @media (max-width: $tablet) {
      top: 69px;
    }
    @media (max-width: $mobile) {
      top: 38px;
      right: 72px;
    }
    @media (max-width: $mobileSmall) {
      top: 15px;
      right: 0px;
      position: relative;
      margin: 0 auto;
    }
  }

  // .swiper__button-prev

  &__button-prev {
    margin-right: 9px;
  }
}
