.header-page {
  padding-top: 23px;
  margin-bottom: 32px;
  @media (max-width:$mobileSmall){
    display: none;
  }

  // .header-page__container

  &__container {
    @media (max-width:$mobile){
      padding: 0 72px;
    }
    @media (max-width:$mobileSmall){
      padding: 0 12px;
    }
  }
}
.breadcrumbs {

  // .breadcrumbs__list

  &__list {
    display: flex;
  }

  // .breadcrumbs__item

  &__item {
    font-size: 14px;
    letter-spacing: 0.3px;
    &:not(:last-child) {margin-right: 3px;}
    span {
      color: #7033AC;
    }
  }
  &__link {
    transition: all .3s ease;
    @media (any-hover: hover) {
      &:focus {
        outline: none;
        background-color: #C998FB;
      }
      &:hover {
        color: $mainPurpur;
      }
    }
  }
}
.catalog-wrapper {

  // .catalog-wrapper__container

  &__container {
    display: grid;
    gap: 32px;
    grid-template-columns: 296px 1fr;
    @media (max-width:$tablet){
      display: block;
    }
    @media (max-width:$mobile){
      padding: 0 72px;
    }
    @media (max-width:$mobileSmall){
      padding: 32px 12px 0 12px;
    }
  }
}
.filter-catalog {
  @media (max-width:$tablet){
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }
  @media (max-width:$mobile){
    display: block;
  }

  // .filter-catalog__title

  &__title {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 20px;
    &_adapt {
      display: none;
    }
    @media (max-width:$tablet){
      display: none;
      &_adapt {
        display: block;
        font-size: 14px;
        line-height: 23px;
        margin-right: 43px;
        @media (max-width:$mobile){
          margin-bottom: 14px;
        }
      }
    }
  }

  // .filter-catalog__body

  &__body {
    @media (max-width:$tablet){
      width: 100%;
      display: grid;
      gap: 32px;
      grid-template-columns: repeat(4, 1fr);
      height: 40px;
    }
    @media (max-width:$mobile){
      grid-template-columns: repeat(2, 1fr);
      height: 96px;
      max-width: 405px;
      row-gap: 17px;
    }
    @media (max-width:$mobileSmall){
      gap: 17px;
    }
  }

  // .filter-catalog__price

  &__price {
    position: relative;
    @media (max-width:$tablet){
      height: 40px;
    }
    @media (min-width:$tablet){
      margin-bottom: 36px;
    }
  }
}
.category-filter {

  // .category-filter__list

  &__list {
    margin-bottom: 28px;
    @media (max-width:$tablet){
      position: absolute;
      z-index: 10;
      background-color: #fff;
      padding: 5px;
      width: 190px;
    }
  }

  // .category-filter__item

  &__item {
    &:not(:last-child) {margin-bottom: 12px;}
  }

  // .category-filter__label

  &__label {
    display: flex;
    align-items: center;
  }

}

.price-filter {

  // .price-filter__title

  &__title {
    margin-bottom: 45px;
  }

  // .price-filter__range

  &__range {
    @media (max-width:$tablet){
      position: absolute;
      //z-index: 10;
      background-color: #fff;
      width: 190px;
      top: -10px;
    }
    @media (max-width:$mobile){
      width: 140px;
    }
  }

  // .price-filter__inputs

  &__inputs {
    display: none;
  }
}

.discont-filter {

  // .discont-filter__list

  &__list {
    margin-bottom: 27px;
    @media (max-width:$tablet){
      position: absolute;
      z-index: 10;
      background-color: #fff;
      padding: 5px;
      width: 190px;
    }
  }

  // .discont-filter__item

  &__item {
    &:not(:last-child) {margin-bottom: 12px;}
  }

  // .discont-filter__label

  &__label {
    display: flex;
    align-items: center;
  }
}
.color-filter {

  // .color-filter__list

  &__list {
    margin-bottom: 89px;
    @media (max-width:$tablet){
      position: absolute;
      z-index: 10;
      background-color: #fff;
      padding: 5px;
      width: 190px;
    }
  }

  // .color-filter__item

  &__item {
    &:not(:last-child) {margin-bottom: 12px;}
  }

  // .color-filter__label

  &__label {
    display: flex;
    align-items: center;
  }

}
.ad-catalog {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  border-radius: 10px;
  min-height: 360px;
  @media (max-width:$tablet){
    display: none;
  }

  // .ad-catalog__image

  &__image {
    padding-top: 189px;
  }

  // .ad-catalog__body

  &__body {
    padding: 30px;
  }

  // .ad-catalog__title

  &__title {
    font-weight: 900;
    font-family: "PlayfairDisplay";
    color: #D5B986;
    font-size: 24px;
    line-height: 32px;
  }

  // .ad-catalog__text

  &__text {
    font-weight: 400;
    line-height: 22px;
    color: #999999;
    margin-bottom: 12px;
  }

  // .ad-catalog__link

  &__link {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: $mainPurpur;
    span {
      margin-right: 5px;
    }
  }
}

.main-catalog {
  display: flex;
  flex-direction: column;

  // .main-catalog__title

  &__title {
    margin-bottom: 24px;
    @media (max-width:$tablet){
      margin-bottom: 16px;
    }
    @media (max-width:$mobile){
      margin-bottom: 23px;
    }
    @media (max-width:$mobileSmall){
      margin-bottom: 12px;
    }
  }

  // .main-catalog__list

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-bottom: 32px;
    @media (max-width:$mobile){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:$mobileSmall){
      gap: 16px;
    }
    &_second {
      display: none;
    }
    &_third {
      display: none;
    }
  }

  &__buttons {
    margin: 0 auto;
  }

  &__btn {
    padding: 4px 10px;
    border: 2px solid $mainPurpur;
    border-radius: 10px;
    color: $mainPurpur;
    &:not(:last-child) {margin-right: 12px;}
    margin-bottom: 69px;
    &.active {
      color: #fff;
      background-color: $mainPurpur;
    }
    &_third {
      @media (min-width:$mobile){
        display: none;
      }
    }
  }
}

