// Заголовки, общие БЄМ блоки и проче...
.btn-dark {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background-color: $mainPurpur;
  padding: 20px 50px;
  border-radius: 10px;
  transition: all .3s ease;
  @media (max-width:$mobileSmall){
    width: 100%;
  }
  &:hover {
    background-color: #C998FB;
  }
  &:focus {
    outline: none;
    background-color: #C998FB;
    box-shadow: inset 0 0 0 2px #7033AC;
  }
  &:active {
    background-color: #7033AC;
  }
}

.btn-light {
  font-weight: 600;
  color: $mainPurpur;
  padding: 17px 35px;
  border: 2px solid $mainPurpur;
  border-radius: 10px;
  width: 129px;
  transition: all .3s ease;
  &:hover {
    background-color: $mainPurpur;
    color: #fff;
  }
  &:focus {
    outline: none;
    background-color: #C998FB;
    color: #fff;
    border: 2px solid $mainPurpur;
  }
  &:active {
    background-color: #7033AC;
    border: 2px solid #7033AC;
  }
  @media (max-width:$mobileSmall){
    width: 108px;
    padding: 7px 13px;
  }
}


.title {
  font-size: 32px;
  @media (max-width:$mobileSmall){
    font-size: 24px;
  }
}

.item-rating {
  background-color: #F7F7F7;
  border-radius: 10px;
  padding: 33px 15px 30px 15px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
  @media (max-width:$mobileSmall){
    padding: 18px 15px 16px 15px;
  }

  // .item-rating__rating

  &__rating {
    display: flex;
    width: 60px;
    justify-content: space-between;
    padding-left: 15px;
    margin-bottom: 31px;
    @media (max-width:$mobileSmall){
      padding-left: 2px;
      width: 37px;
      margin-bottom: 0;
      img {
        height: 12px;
        width: 12px;
      }
    }
  }

  // .item-rating__rating-value

  &__rating-value {
    color: $mainOrange;
    @media (max-width:$mobileSmall){
      font-size: 12px;
    }
  }

  // .item-rating__img-wrap

  &__img-wrap {
    margin-bottom: -3px;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 130px;
    position: relative;
    overflow: hidden;
    width: 100%;
    transition: transform .3s ease;
    &:focus {
      outline: none;
      transform: scale(1.05);
    }
    @media (max-width:$mobileSmall){
      height: 80px;
    }
  }

  // .item-rating__image

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0 16px;
    @media (max-width:$mobileSmall){
      padding: 0;
    }
  }

  // .item-rating__title

  &__title {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 22px;
    flex: 1 1 auto;
    @media (max-width:$mobileSmall){
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 16px;
    }
  }

  // .item-rating__price

  &__price {
    line-height: 21px;
    margin-bottom: 24px;
    @media (max-width:$mobileSmall){
      margin-bottom: 15px;
    }
  }

  // .item-rating__btn

  /* &__btn {
    margin-left: 15px;
  } */

  &__link {
    width: 100%;
    height: 100%;
  }
}

.title-filter {
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width:$tablet){
    margin-bottom: 0;
  }
  svg {
    display: none;
  }
  @media (max-width:$tablet){
    svg {
      display: inline-block;
      transition: transform 0.3s ease;
    }
    font-weight: 400;
    line-height: 22px;
    background-color: #F6F6F6;
    padding: 9px 15px;
    border-radius: 10px;
    width: 100%;
    text-align: start;
    &._spoller-active {
      svg {
        transform: rotate(180deg);
      }
      &::before {
        transform: rotate(180deg);
      }
    }
  }
}

.small-title {
  font-size: 24px;
  line-height: 32px;
  @media (max-width:$mobileSmall){
    font-size: 16px;
    line-height: 22px;
  }
}

